<!DOCTYPE html>
<html>
<head>
  <title>Dinde</title>
  <%= stylesheet_link_tag    "dinde/application", media: "all" %>
  <%= javascript_include_tag "dinde/application" %>
  <%= csrf_meta_tags %>
  <%= include_gon %>
</head>
<body>

<%= yield %>

</body>
</html>
