#title{
	text-align: center;
	border-bottom: 2px solid black;
}

.classElement{
	display: inline-block;
	min-height: 50px;
	border: 2px solid black;
	position: relative;
	margin-right: 70px;
}

.classAttrs{
	min-height: 10px;
	border-bottom: 2px solid black;
}

.classMethods{
	min-height: 10px;
}

.line{
  	position: absolute;
  	color: black;
  	width : 63px;
    border-width: 3px;
}

.association{
	margin-bottom: 30px;
}
/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

