#title{
	text-align: center;
	border-bottom: 2px solid black;
}

.classElement{
	display: inline-block;
	min-height: 50px;
	border: 2px solid black;
	position: relative;
	margin-right: 70px;
}

.classAttrs{
	min-height: 10px;
	border-bottom: 2px solid black;
}

.classMethods{
	min-height: 10px;
}

.line{
  	position: absolute;
  	color: black;
  	width : 63px;
    border-width: 3px;
}

.association{
	margin-bottom: 30px;
}